<h1> Naslov </h1>
<p class="crveni_tekst"> Ovdje ide neki tekst paragrafa lalalal </p>
<p id="posebni"> Ovdje ide neki tekst paragrafa lalalal </p>
<p class="zeleni"> Ovdje ide neki tekst paragrafa lalalal </p>
<p class="zeleni"> Ovdje ide neki tekst paragrafa lalalal </p>
<p class="zeleni"> Ovdje ide neki tekst paragrafa lalalal </p>
<p class="crveni_tekst"> Ovdje ide neki tekst paragrafa lalalal </p>
<img src="https://www.zenskimagazin.rs/image.php/upoznajte-neodoljivo-stene-normana%20(01).jpg?width=600&image=https://www.zenskimagazin.rs/chest/gallery-landscape/upoznajte-neodoljivo-stene-normana/upoznajte-neodoljivo-stene-normana%20(01).jpg"/>
<style>
img {
    width: 500px;
    height: auto;
    border: 12px solid red;
    padding-top: 100px;
    margin-left: 150px;
}
.crveni_tekst{
    color: red;
}
#posebni{
    color: yellow;
    font-size: 24px;
}
.zeleni{
    color: green;
}
</stlye>