<h1> <center>Termini </center> </h1>
<hr>


<div class="row">
    <div class="col-md-12">

        <img id="naslovna_slika" src="/picture-for-heaven-blog-post-1100x200.jpg" />
        
    </div>
</div>

<br/><br/>

<div class="row">
    <div class="col-md-4">
        <img class="slike-prostora" id="prva-slika-prostora" src="/superior_green_-_fudbalski_teren.jpg"  /> 
    </div>


    <div class="col-md-4">
         <img class="slike-prostora" id="druga-slika-prostora" src="/superior_green_-_fudbalski_teren.jpg" /> 
    </div>

    <div class="col-md-4">
         <img class="slike-prostora" id="druga-slika-prostora" src="/superior_green_-_fudbalski_teren.jpg" /> 
    </div>

</div>

<br/><br/>








<style>

#naslovna_slika{
    width: 100% ;
    height: auto ;
}

.slike-prostora{
    width: 100% ;
    height: auto;
}


</style>







