<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TERMINI.BA</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">TERMINI.BA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">REGISTRACIJA
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">O NAMA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TERENI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">KONTAKT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3"> <center> DOBRO DOŠLI! </center> </h1>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-4 col-md-5 mb-4">
          <div class="card">
            <img class="card-img-top" src="VISTAFON.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">VISTAFON</h4>
              <p class="card-text">Dvorana se nalazi na Otoci</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">REZERVIŠI!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 mb-4">
          <div class="card">
            <img class="card-img-top" src="MOJMILO.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">DVORANA RAMIZ SALICIN</h4>
              <p class="card-text">Dvorana se nalazi na Mojmilu</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">REZERVIŠI!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 mb-4">
          <div class="card">
            <img class="card-img-top" id="myBtn" src="GRBAVICA.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">DVORANA GRBAVICA</h4>
              <p class="card-text">Dvorana se nalazi na Grbavici</p>
            </div>
            <div class="card-footer">
              <a href="<%= rezervisi_path %>" class="btn btn-primary">REZERVIŠI!</a>
            </div>
          </div>
        </div>

        

      </div>
      <!-- /.row -->



      <br>
      <br>
      <br>
      <br>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
       
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  


  <!-- The Modal -->
  <div id="myModal" class="modal">
  
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Cijena 80KM</p>
  
    </div>
  
  </div>


</html>






<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>