<div class="container">
<h1> Bootstrap Demo </h1>
<div class="jumbotron">
<h1> Neki aman naslov </h1>
</div>

<div class="row">
<div class="col-md-12">
<p> ovdje je 12 i sve zauzima </p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<p> ovaj je 6 i pola zauzima</p>
</div>

<div class="row">
<div class="col-md-6">
<p> ovaj je 6 i pola zauzima </p>
</div>
